<header-content 
  pre-title="users.USERS" 
  title="{{::$ctrl.title}}" 
  description="{{::$ctrl.description}}"
  image="{{::$ctrl.defaultLogo}}"
  imageStyle="{{::$ctrl.imagestyle}}"
></header-content>
<div class="page-content">
  <div class="container">
    <li class="list-group-item" ng-repeat="user in $ctrl.users">
      <a ui-sref="user({id: user.id})">
        {{::user.name}}</a>
    </li>
  </div>
</div>
