<!-- <section class="game-profile-component">
  <!--<div class="owner">
    <h3>
      <span translate="common.OWNER"></span>:
      <b><span ng-bind="$ctrl.profile.user.name"></span></b>
    </h3>
  </div>-->
<!-- </section> -->