<div class="modal-header">
  <h2 class="modal-title" translate="game-profile.REQUEST_OWNERSHIP"></h2>
</div>

<div class="modal-body lead"
     translate="game-profile.MODAL_MESSAGE">
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button"
          ng-click="$ctrl.requestOwnership()"
          translate="game-profile.SEND_REQUEST">
  </button>
  <button class="btn btn-warning" type="button"
          ng-click="$ctrl.cancel()"
          translate="common.CANCEL">
  </button>
</div>
