<div class="add-gp-to-user">
  <i class="fa fa-unlink" title="{{::$ctrl.profile_ownership}}"
    ng-if="$ctrl.currentUser.id
      && $ctrl.gamer.accountId
      && $ctrl.gamer.accountId != $ctrl.currentUser.id"
    ng-click="$ctrl.takeOwnership()"
  ></i>

  <i class="fa fa-unlink" title="{{::$ctrl.profile_myprofile}}"
    ng-if="$ctrl.currentUser.id && !$ctrl.gamer.accountId 
      && $ctrl.user.id != $ctrl.currentUser.id"
    ng-click="$ctrl.openRequestModal()"
  ></i>
</div>