<div class="add-gp-to-community">
  <form name="addGameProfileForm" ng-submit="$ctrl.addGameProfile()">
    <h1 class="page-header" translate="ADD_PROFILE_TO_COMMUNITY"></h1>

    <div class="form-group">
      <select class="form-control"
              name="communitySelect"
              ng-options="option.name for option in $ctrl.communities track by option._id"
              ng-model="$ctrl.selectedCommunity">
      </select>
    </div>

    <div angucomplete-alt
         id="add-gp-to-community-autocomplete"
         placeholder="{{'SEARCH_GAME_PROFILE' | translate}}"
         pause="100"
         selected-object="$ctrl.gameProfile"
         local-data="$ctrl.gameProfiles"
         search-fields="name"
         title-field="name"
         minlength="1"
         input-class="form-control form-control-small"
         match-class="highlight"
         field-required="true"
         input-name="$ctrl.gameProfile">
    </div>

    <div class="form-group">
      <button class="btn btn-primary"
              type="submit"
              ng-show="addGameProfileForm.$valid"
              translate="ADD_PROFILE_TO_COMMUNITY">
      </button>
    </div>

  </form>
</div>
