<header-content pre-title="admin.Admin" title="admin.description"></header-content>
<div class="page-content">
  <div class="container">
    <a href="api/admin/logs" target="_self">Download logs</a>
    <ul class="list-group user-list">
      <li class="list-group-item" ng-repeat="user in admin.users">
        <div class="user-info">
          <strong>{{user.name}}</strong><br>
          <span class="text-muted">{{user.email}}</span>
        </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
      </li>
    </ul>
  </div>
</div>
