<div class="container">

  <!-- Change password -->
  <div ng-if="vm.user.provider === 'local'" class="row">
    <div class="col-sm-12">
      <h1 translate="settings.CHANGE_PASSWORD"></h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group">
          <label translate="settings.CURRENT_PASSWORD"></label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label translate="settings.NEW_PASSWORD"></label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            <span translate="settings.PASSWORD_LENGTH_INVALID"></span>
            <span class="min-length">3</span>
          </p>
        </div>

        <div class="form-group">
          <label translate="settings.CONFIRM_NEW_PASSWORD"></label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            <span translate="settings.PASSWORD_MATCH_INVALID"></span>
          </p>

        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-primary" type="submit" translate="settings.SAVE_CHANGES"></button>
      </form>
    </div>
  </div> <!-- Change password -->

  <connect-accounts current-user="vm.user"></connect-accounts>

</div>
