<header-content
  pre-title="{{::$ctrl.gamer.user.name}}"
  title="{{::$ctrl.gamer.name}}"
  description="{{::$ctrl.description}}"
  gamer="$ctrl.gamer"
  game="$ctrl.game"
  entity="$ctrl.gameProfile"
  karma="$ctrl.gamer.karma"
  image="{{::$ctrl.gamer.avatarurl || $ctrl.gamer.user.avatarurl || $ctrl.defaultAvatar}}" 
  imageStyle="{{::$ctrl.imagestyle}}"
  >
  </header-content>
  <div class="page-content">
    <div class="container">
      <game-profile profile="$ctrl.gameProfile">
      </game-profile>
      <comments entity="$ctrl.gameProfile" api="$ctrl.api">
      </comments>
    </div>
  </div>