<div class="page-content">
  <div class="container">
    <h2 class="section-heading" translate="enter.ENTER"></h2>
    <div class="social-connect social-connect-padding">
      <ul class="list-inline social-icons">
        <li><a href="#" class="vk-bg" ng-click="vm.loginOauth('vkontakte')"><i class="fa fa-vk"></i></a></li>
        <li><a href="#" class="facebook-bg" ng-click="vm.loginOauth('facebook')"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="twitter-bg" ng-click="vm.loginOauth('twitter')"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="googleplus-bg" ng-click="vm.loginOauth('google')"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="local-bg" ng-click="vm.isLocalLogin = !vm.isLocalLogin"><i class="fa fa-sign-in"></i></a></li>
      </ul>
    </div>

    <form class="form-horizontal" role="form" name="enterForm" ng-show="vm.isLocalLogin" novalidate>
      <div class="form-group" ng-class="{ 'has-error': enterForm.email.$invalid && (enterForm.email.$dirty || enterForm.$submitted) }">
        <label for="inputEmai" class="control-label sr-only" translate="enter.EMAIL"></label>
        <div class="col-sm-12">
          <div class="input-group">
            <input ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="email" class="form-control" id="inputEmai" placeholder="{{'enter.EMAIL' | translate}}"
              ng-model="vm.user.email" required>
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          </div>
          <p class="help-block" translate="enter.EMAIL_ERROR" ng-show="enterForm.email.$invalid && (enterForm.email.$dirty || enterForm.$submitted)"
          />
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': enterForm.password.$invalid && (enterForm.password.$dirty || enterForm.$submitted) }">
        <label for="inputPassword" class="control-label sr-only" translate="enter.PASSWORD"></label>
        <div class="col-sm-12">
          <div class="input-group">
            <input type="password" name="password" minlength="4" class="form-control" id="inputPassword" placeholder="{{'enter.PASSWORD' | translate}}"
              ng-model="vm.user.password" required>
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          </div>
          <p class="help-block" translate="enter.PASSWORD_ERROR" ng-show="enterForm.password.$invalid && (enterForm.password.$dirty || enterForm.$submitted)"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <label class="fancy-checkbox">
            <input type="checkbox">
            <span translate="enter.REMEMBER_ME"></span>
          </label>
        </div>
      </div>

      <div class="form-group has-error">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary" ng-click="vm.login(enterForm)" translate="enter.ENTER"></button>
          <p class="help-block">{{ vm.errors.other }}</p>
        </div>
      </div>

      <em translate="enter.FORGOT_PASSWORD"></em>
      <a href="#" translate="enter.RECOVER_PASSWORD"></a>
    </form>

    <em translate="enter.TERMS"></em>
  </div>
</div>
