<div class="btn-group" ng-if="$ctrl.fromId">
  <button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
      <span translate="{{::$ctrl.title}}"></span>
      <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="item in $ctrl.variants" ng-click="$ctrl.submit(item.id)">
      <a href="#" translate="{{::item.title}}"></a>
    </li>
  </ul>
</div>
