<div>
  <form name="createCommentForm" ng-submit="$ctrl.createComment()" ng-if="$ctrl.currentUser.id">
    <div class="form-group">
      <textarea name="textInput" class="form-control" type="text" ng-model="$ctrl.newComment.text"  required></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Comment</button>
    </div>
  </form>
  <div>
    <ul class="list-group">
      <li class="list-group-item container-comment" ng-repeat="comment in $ctrl.comments"
          ng-style="::{'padding-left': $ctrl.calcOffset(comment.path) + '%'}">
        <div class="container-avatar">
          <img src="{{$ctrl.ava}}" class="avatar xs" />
        </div>
        <div class="container-message">
          <div><a ui-sref="game.profile({profileId:comment.authorId})" class="author_name">{{::comment.authorName}}</a> <span class="datetime">{{::comment.created | date:'dd.MM.yyyy HH:mm'}}</span></div>
          <div class="comment-text" ng-bind-html="comment.text"></div>
          <div class="bottom-panel">
            <like entity="comment" current-gp="$ctrl.currentGp"></like>
            <div class="reply">
              <button ng-click="$ctrl.reply(comment)"
                      type="submit"
                      class="btn btn-default btn-xs">
                <i class="fa fa-reply"></i>
                <span translate="comments.REPLY"></span>
              </button>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>
