.container-comment{
  padding-bottom:20px;
  padding-top:10px;
}

.comment-text {
  word-wrap: break-word;
}

.list-group-item.container-comment{
  width: 100%;
  border: 0px;
  display: flex;

  .container-avatar{
    flex: 0 1 30px;
    padding-top: 6px;
  }

  .container-message{
    width: 100%;
    flex: 1 1 100px;

    .author_name{
      color: #000;
      font-weight: 700;
      font-size: 15px;
    }
    .datetime {
      position: absolute;
      top: 12px;
      right: 0;
      font-size: 11px;
      color: #999;
      border-bottom: 1px dotted #ccc;
    }

    .bottom-panel{
      display: flex;

      .reply{
        padding: 10px 20px;
      }
    }
  }
  .likeBox {
    display: inline-flex;

    .like-area{
      @include border-radius();
      text-align: left;
      display: block;
      width: 18px;
      height: 18px;
      font-size: 14px;
      border: 1px solid $sentiment-border-color;
      color: $sentiment-color;
      font-weight: bold;
      margin-right: 18px;
      cursor: pointer;

      &.like {
        background-color: $positive-bg-color;

        .like-count {
          position: absolute;
          padding: 2px 0 0 20px;
          font-size: 0.9rem;
          color: $positive-bg-color;
        }
      }

      &.dislike{
        background-color: $negative-bg-color;
        .like-count {
          position: absolute;
          padding: 2px 0 0 20px;
          font-size: 0.9rem;
          color: $negative-bg-color;
        }
      }

      .like-button {
        position: absolute;
        font-size: 0.9rem;
        padding: 3px 0px 0 4px;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      .like-button-active {

        opacity: 1;
      }
    }
  }
}
