<div class="create-game-profile" ng-show="$ctrl.currentUser._id">
  <form name="createGameProfileForm" ng-submit="$ctrl.createGameProfile()">
    <h1 class="page-header" translate="CREATE_PROFILE"></h1>

    <div class="form-group">
      <input name="gameInput" class="form-control" placeholder="{{'NICKNAME' | translate}}" type="text" ng-model="$ctrl.gameProfile.name" required>
    </div>

    <div class="form-group">
      <select class="form-control" name="gametSelect" ng-model="$ctrl.gameProfile.rootCommunityId" required>
        <option value="" disabled selected hidden translate="CHOOSE_GAME" />
        <option ng-repeat="game in $ctrl.communities" value="{{::game._id}}">{{::game.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" translate="CREATE_PROFILE" />
    </div>
  </form>
</div>
