<section class="connect-accounts">
  <div class="row col-sm-12" ng-if="$ctrl.currentUser.provider !== 'local'">
    <h1 translate="connect-accounts.ADD_LOCAL"></h1>
    <form name="addLocalAccForm"
          novalidate
          ng-submit="$ctrl.connectLocalAccount(addLocalAccForm, $ctrl.currentUser.email, $ctrl.currentUser.password)">
      <div class="form-group"
          ng-class="{ 'has-error': addLocalAccForm.email.$invalid && (addLocalAccForm.email.$dirty || addLocalAccForm.$submitted) }">
        <label class="control-label" translate="common.EMAIL"></label>
        <input type="email" name="email" class="form-control" ng-model="$ctrl.currentUser.email" required>
      </div>

      <div class="form-group"
          ng-class="{ 'has-error': addLocalAccForm.password.$invalid && (addLocalAccForm.password.$dirty || addLocalAccForm.$submitted) }">
        <label class="control-label" translate="common.PASSWORD"></label>
        <input type="password" name="password" class="form-control" ng-model="$ctrl.currentUser.password" required>
      </div>
      <button class="btn btn-primary"
              type="submit"
              translate="common.ADD">
      </button>
    </form>
  </div>

  <div class="row col-sm-12">
    <h1 translate="connect-accounts.SOCIAL_NETWORKS"></h1>
    <a ng-hide="$ctrl.currentUser.facebook.id" ng-click="$ctrl.connectOAuth('facebook')" class="btn btn-facebook">
      <i class="fa fa-facebook"></i> Connect Facebook account
    </a>

    <a ng-show="$ctrl.currentUser.facebook.id" ng-click="$ctrl.disconnectOAuth('facebook')" class="btn btn-facebook">
      <i class="fa fa-facebook"></i> Disconnect Facebook account
    </a>

    <a ng-hide="$ctrl.currentUser.vkontakte.id" ng-click="$ctrl.connectOAuth('vkontakte')" class="btn btn-vkontakte">
      <i class="fa fa-vk"></i> Connect Vkontakte account
    </a>

    <a ng-show="$ctrl.currentUser.vkontakte.id" ng-click="$ctrl.disconnectOAuth('vkontakte')" class="btn btn-vkontakte">
      <i class="fa fa-vk"></i> Disconnect Vkontakte account
    </a>
  </div>
</section>


