.connect-accounts {

  .btn-facebook {
    color: #ffffff;
    background-color: #3B5998;
    border-color: #133783;
  }

  .btn-vkontakte {
    color: #ffffff;
    background-color: #5B7FA6;
    border-color: #5B7FA6;
  }

  .row:not(:last-child) {
    margin-bottom: 20px;
  }
}

