.likeBox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .like-area{
    @include border-radius();
    display: block;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: 1px solid $sentiment-border-color;
    text-align: center;
    font-weight: bold;
    margin-right:10px;
    cursor: pointer;
    
    &.like {
      background-color: $sentiment-color;
      color: $positive-bg-color;
      
      .like-count {
        font-size: 1.5rem;
      }
    }

    &.dislike{
      background-color: $sentiment-color;
      color: $negative-bg-color;

      .like-count {
        font-size: 1.5rem;
      }
    }

    .like-button {
      font-size: 2.2rem;
      padding: 8px 9px;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    .like-button-active {
      //color: $main-color;
      opacity: 1;
    }
  }
}
