<div class="likeBox">
  <div class="like-area like" ng-click="$ctrl.like($ctrl.likeType.pos)">
    <i class="fa fa-chevron-up like-button"
      ng-class="{ 'like-button-active': $ctrl.userLike.id  && $ctrl.userLike.type == $ctrl.likeType.pos }">
      </i>

    <span class="like-count"
      ng-bind="$ctrl.likesCount.countUp"></span>
  </div>
  <div class="like-area dislike" ng-click="$ctrl.like($ctrl.likeType.neg)">
    <i class="fa fa-chevron-down like-button"
      ng-class="{ 'like-button-active': $ctrl.userLike.id && $ctrl.userLike.type == $ctrl.likeType.neg }">
      </i>

    <span class="like-count"
      ng-bind="$ctrl.likesCount.countDown"></span>
  </div><hr>
</div>
