<div class="angucomplete-holder"
  ng-class="{'angucomplete-dropdown-visible': showDropdown}">
  <input id="{{id}}_value"
    name={{inputName}}
    ng-class="{'angucomplete-input-not-empty': notEmpty}"
    ng-model="searchStr"
    ng-disabled="disableInput"
    type="{{type}}"
    placeholder="{{placeholder}}"
    maxlength="{{maxlength}}"
    ng-focus="onFocusHandler()"
    class="{{inputClass}}"
    ng-focus="resetHideResults()"
    ng-blur="hideResults($event)"
    autocapitalize="off"
    autocorrect="off"
    autocomplete="off"
    ng-change="inputChangeHandler(searchStr)"
  />
  <div id="{{id}}_dropdown"
    class="angucomplete-dropdown"
    ng-show="showDropdown">
    <div class="angucomplete-searching"
      ng-show="searching"
      ng-bind="textSearching"></div>
    <div class="angucomplete-searching"
      ng-show="!searching && (!results || results.length == 1)"
      ng-bind="textNoResults"></div>
    <div class="search-results">
      <div class="angucomplete-row"
        ng-repeat="result in results"
        ng-click="selectResult(result)"
        ng-mouseenter="hoverRow($index)"
        ng-class="{'angucomplete-selected-row': $index == currentIndex, 'predefined-top': result.originalObject.top, 'predefined-bottom': result.originalObject.bottom}">
        <div ng-if="true"
          class="angucomplete-image-holder">
          <img ng-if="result.originalObject.logourl && result.originalObject.logourl != ''"
            ng-src="{{result.originalObject.logourl}}"
            class="gamelogo xs"
          />
          <div ng-if="!result.originalObject.logourl && result.originalObject.logourl != ''"
            class="gamelogo xs"></div>
        </div>
        <div class="angucomplete-title"
          ng-if="matchClass"
          ng-bind-html="result.title"></div>
        <div class="angucomplete-title"
          ng-if="!matchClass">{{
          result.title
          }}
        </div>
        <div ng-if="matchClass && result.description && result.description != ''"
          class="angucomplete-description"
          ng-bind-html="result.description"></div>
        <div ng-if="!matchClass && result.description && result.description != ''"
          class="angucomplete-description">{{result.description}}</div>
      </div>
    </div>
  </div>
</div>
