<div class="search-component">

  <div angucomplete-alt
    id="search-game-autocomplete"
    placeholder="{{$ctrl.gamePlaceholder()}}"
    pause="200"
    selected-object="$ctrl.game"
    remote-api-handler="$ctrl.remoteApi"
    title-field="title"
    text-no-results="{{$ctrl.noResults()}}"
    text-searching="{{$ctrl.searching()}}"
    minlength="0"
    input-class="form-control form-control-small"
    match-class="highlight"
    field-required="true"
    input-name="game"
    initial-value="$ctrl.game.title"
    template-url="components/search/dropdown-template-game.html"
    remote-url-response-formatter="$ctrl.formatGameResponse"
    focus-in="$ctrl.focusInGame()"
    focus-out="$ctrl.focusOutGame()">
  </div>

  <i class="fa fa-angle-right"></i>

  <div angucomplete-alt
    id="search-gp-user-autocomplete"
    placeholder="{{$ctrl.getPlaceholder()}}"
    pause="100"
    selected-object="$ctrl.profileUser"
    initial-value="$ctrl.profileUser.name"
    remote-api-handler="$ctrl.remoteProfileUserApi"
    title-field="name"
    text-no-results="{{$ctrl.noResults()}}"
    text-searching="{{$ctrl.searching()}}"
    minlength="0"
    input-class="form-control form-control-small"
    match-class="highlight"
    field-required="true"
    input-name="profile"
    template-url="components/search/dropdown-template-gp-user.html"
    remote-url-response-formatter="$ctrl.formatProfileUserResponse"
    focus-in="$ctrl.focusInProfileUser()"
    focus-out="$ctrl.focusOutProfileUser()">
  </div>

</div>
