@import "../../theme/assets/sass/modules/mixins";
@import "../../theme/assets/sass/modules/breakpoints";
@import "../../theme/assets/sass/modules/colors";

.search-component {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 15px;

  .angucomplete-dropdown {
    max-height: 500px;
    overflow-y: auto;
  }

  .highlight {
	  color: $main-color;
  }

  div[angucomplete-alt] {
    width: 250px;

     .angucomplete-row.create{
       display: flex;
       justify-content: space-between;
     }

    .angucomplete-row.predefined-top {
      border-bottom: 1px solid #ddd;
      margin-top: 4px;
      margin-bottom: 0px;
    }

    .angucomplete-row.predefined-bottom {
      border-top: 1px solid #ddd;
      padding-top: 4px;
      margin-bottom: 0px;
    }

    .angucomplete-row {
      display: flex;
      align-items: center;
    }
  }

  i {
    color: $main-color;
    padding: 0 5px 0 5px;
  }

  @include max-screen($break-large) {
    div[angucomplete-alt] {
      width: 200px;
    }
  }

  @include max-screen($break-medium) {
    .angucomplete-dropdown {
      max-height: 85px;
    }
  }
}
