<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- COLUMN 1 -->
      <h3 class="sr-only">ABOUT US</h3>
      <div class="row">
        <div class="navbar-brand navbar-brand-component">
          <span class="fa fa-at"></span>Game Track
        </div>
      </div>
      <p translate="copyright.DESCRIPTION"></p>
      <br>
      <address class="margin-bottom-30px">
							<ul class="list-unstyled">
								<li translate="copyright.ADRESS"></li>
								<li translate="copyright.PHONE"></li>
								<li translate="copyright.EMAIL"></li>
							</ul>
						</address>
      <!-- END COLUMN 1 -->
    </div>

    <div class="col-md-4">
      <!-- COLUMN 3 -->
      <!--<div class="newsletter">
        <h3 class="footer-heading">NEWSLETTER</h3>
        <p>Get the latest update from us by subscribing to our newsletter.</p>
        <form class="newsletter-form" method="POST">
          <div class="input-group input-group-lg">
            <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
            <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
            </span>
          </div>
          <div class="alert"></div>
        </form>
      </div>-->
      <div class="social-connect">
        <h3 class="footer-heading" translate="copyright.GETCONNECTED" />
        <ul class="list-inline social-icons">
          <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <!-- END COLUMN 3 -->
    </div>

    <div class="col-md-4">
      <!-- COLUMN 2 -->
      <h3 class="footer-heading" translate="copyright.DOCUMENTS.TITLE"></h3>
      <div class="row margin-bottom-30px">
        <div class="col-xs-6">
          <ul class="list-unstyled footer-nav">
            <li><a href="#" translate="copyright.DOCUMENTS.ABOUTUS" /></li>
            <li><a href="#" translate="copyright.DOCUMENTS.NEWS" /></li>
            <li><a href="#" translate="copyright.DOCUMENTS.FAQ" /></li>
            <li><a href="#" translate="copyright.DOCUMENTS.TERMS" /></li>
            <li><a href="#" translate="copyright.DOCUMENTS.POLICY" /></li>
            <!--<li><a href="#">Community</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>-->
          </ul>
        </div>
        <div class="col-xs-6">
          <!--<ul class="list-unstyled footer-nav">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Press Kit</a></li>          
          </ul>-->
        </div>
      </div>
      <!-- END COLUMN 2 -->
    </div>

  </div>
</div>
<!-- COPYRIGHT -->
<div class="text-center copyright">&copy;2016 <span  translate="copyright.ALLRIGHT" /></div>
