<a ng-class="classes" ng-click="OauthButtons.loginOauth('facebook')" class="btn btn-facebook">
  <i class="fa fa-facebook"></i>
  Connect with Facebook
</a>
<a ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn btn-google">
  <i class="fa fa-google-plus"></i>
  Connect with Google+
</a>
<a ng-class="classes" ng-click="OauthButtons.loginOauth('twitter')" class="btn btn-twitter">
  <i class="fa fa-twitter"></i>
  Connect with Twitter
</a>
<a ng-class="classes" ng-click="OauthButtons.loginOauth('vkontakte')" class="btn btn-vkontakte">
  <i class="fa fa-vk"></i>
  Connect with Vkontakte
</a>

