.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;
}
.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}
.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
}
.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}
.btn-vkontakte {
  color: #fff;
  background-color: #5B7FA6;
  border-color: #5B7FA6;
}

