<div class="game-profile-container">
    <div class="game-profile-item">
        <a ui-sref="game.main({gameId: hcgp.game.id})">
            <img src="{{hcgp.game.logourl}}" alt="{{hcgp.game.title}}" class="gamelogo xs"> <span>{{hcgp.game.title}}</span>
        </a>
    </div>
    <div class="game-profile-item">
        <a ui-sref="user({id: hcgp.gamer.user.id})">
            <img src="{{hcgp.gamer.user.avatarurl}}" alt="{{hcgp.gamer.user.name}}" class="avatar xs"> <span>{{hcgp.gamer.user.name}}</span>
        </a>
    </div>
</div>