<div class="top-profiles-container" ng-if="$ctrl.profiles.length">
  <h4>{{ 'TOP_N_PROFILES' | translate: $ctrl.translationData }}</h4>
  <ul class="list-group">
    <li class="list-group-item item" ng-repeat="profile in $ctrl.profiles">
      <div class="profile">
        <a ui-sref="game.profile({gameId: profile.gameId, profileId: profile.id})">{{$index+1}}.
        {{::profile.name}}
       </a>
      </div>
      <div>{{::profile.karma}}</div>
    </li>
  </ul>
</div>
