.top-profiles-container {
  position: relative;
  width: 35%;
    
  .list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @include profile(60%);
  }
}

@media screen and (max-width: 650px) {
    .top-profiles-container {
      width: 100%;
    }
}  
