<div class="page-content page-error text-center">
  <div class="container">
    <h1 translate="errors.OOPS"></h1>
    <h2 translate="errors.CMNTY_DOESNT_EXIST_DESCR"></h2>
    <h2 translate="errors.CMNTY_DOESNT_EXIST_LINK"></h2>
    <h2>
      <a ui-sref="game.communities({gameId: $ctrl.gameId})">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </h2>
  </div>
</div>