.background {
    padding-top: 15%;
    background-color: white;
    color: $main-color;
    text-align: center;
    height: 45em;

    .fa-cogs:before {
        font-size: 5em;
    }

    .text { 
        font-size: 2em;
    }
}