//$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #cccccc;
  color: #000000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/enter/enter';
@import 'admin/admin';
@import 'app.mixins';
@import 'communities/communities';
@import 'communities/community/community';
@import 'errors/maintenance';
@import 'game-profiles/game-profile/game-profile-page';
@import 'game-profiles/game-profiles';
@import 'games/games';
@import 'home/home';
@import 'main/main';
@import 'users/user/user';
@import 'users/users';
@import '../components/comment/comment';
@import '../components/comment/reply-modal/reply-modal';
@import '../components/connect-accounts/connect-accounts';
@import '../components/entity-show/entity-show';
@import '../components/footer/footer';
@import '../components/game-profile/add-gp-to-community/add-gp-to-community';
@import '../components/game-profile/add-gp-to-user/add-gp-to-user';
@import '../components/game-profile/game-profile/game-profile';
@import '../components/game-profile/game-profiles/game-profiles';
@import '../components/header-content/header-content-gameprofile/header-content-gameprofile';
@import '../components/header-content/header-content';
@import '../components/like/like';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/search/search';
@import '../components/settings/settings-modal';
@import '../components/settings/settings';
@import '../components/tabs/tabs';
@import '../components/top-n-profiles/top-n-profiles';
@import '../components/user-info/user-info';
@import '../components/user-profiles/user-profiles';
@import '../components/users-list/users-list';
@import '../theme/assets/css/bootstrap.css';
@import '../theme/assets/css/bootstrap.min.css';
@import '../theme/assets/sass/modules/breakpoints';
@import '../theme/assets/sass/modules/colors';
@import '../theme/assets/sass/modules/fonts';
@import '../theme/assets/sass/modules/mixins';
@import '../theme/assets/sass/partials/base';
@import '../theme/assets/sass/partials/blog';
@import '../theme/assets/sass/partials/general';
@import '../theme/assets/sass/partials/helpers';
@import '../theme/assets/sass/partials/hero-unit';
@import '../theme/assets/sass/partials/navbar';
@import '../theme/assets/sass/partials/one-page';
@import '../theme/assets/sass/partials/pages';
@import '../theme/assets/sass/partials/portfolio';
@import '../theme/assets/sass/partials/typography';
@import '../theme/assets/sass/partials/ui-bootstrap-elements';
@import '../theme/assets/sass/partials/ui-elements';
@import '../theme/assets/sass/shop/header';
@import '../theme/assets/sass/shop/layout';
@import '../theme/assets/sass/shop/main-content';
@import '../theme/assets/sass/shop/navigation';
@import '../theme/assets/sass/skins/skin-styles';
@import '../theme/assets/sass/skins/indianred';
@import '../theme/assets/sass/vendors/animate';
@import '../theme/assets/sass/vendors/bootstrap-multiselect';
@import '../theme/assets/sass/vendors/datepicker';
@import '../theme/assets/sass/vendors/daterangepicker-bs3';
@import '../theme/assets/sass/vendors/ion.rangeSlider';
@import '../theme/assets/sass/vendors/ion.rangeSlider.skinHTML5';
@import '../theme/assets/sass/vendors/jquery.bootstrap-touchspin';
@import '../theme/assets/sass/vendors/jquery.maximage';
@import '../theme/assets/sass/vendors/prettyPhoto';
@import '../theme/assets/sass/vendors/slick-theme-repute';
@import '../theme/assets/sass/vendors/slick-theme';
@import '../theme/assets/sass/vendors/slick';
// endinjector
