<nav class="navbar navbar-default navbar-dark navbar-fixed-top">
  <div class="container" ng-controller="NavbarController">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a ui-sref="home" class="navbar-brand navbar-brand-component">
        <span class="fa fa-at"></span>Game Track
      </a>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-show="nav.isAdmin()" ui-sref-active="active" ng-if="false"><a ui-sref="admin">Admin</a></li>
        <li>
          <search/>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()">
          <a ui-sref="login" translate="enter.ENTER"></a>
        </li>
        <li class="user-dropdown" ng-show="nav.isLoggedIn()">
          <a data-toggle="dropdown">
            <img src="{{nav.getCurrentUser.avatarurl || nav.defaultAvatar}}" alt="{{nav.getCurrentUser.name}}" class="avatar xs">
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="user-avatar">
                <div class="user-avatar-container">
                  <a ui-sref="user({id: nav.getCurrentUser.id})">
                    <img src="{{nav.getCurrentUser.avatarurl || nav.defaultAvatar}}" alt="{{nav.getCurrentUser.name}}" class="avatar sm">
                  </a>
                </div>
                <div class="user-profile-info">
                  <div class="user-profile-name">
                    <a ui-sref="user({id: nav.getCurrentUser.id})" translate="{{nav.getCurrentUser.name || 'account.MY_ACCOUNT'}}"></a>
                  </div>
                  <div class="user-profile-email">
                    <a ui-sref="user({id: nav.getCurrentUser.id})">
                      <span translate="{{nav.getCurrentUser.email}}"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-divider"></li>
            <li>
              <a ui-sref="user({id: nav.getCurrentUser.id})" translate="account.ACCOUNT"></a>
            </li>
            <li><a ui-sref="logout"><span translate="account.LOGOUT"></span></a>
            </li>
          </ul>
        </li>
        <li class="delimeter"></li>
        <li>
          <a href="#" data-toggle="dropdown">{{nav.currentLanguage.lng}}
            <!--<img src="{{nav.currentLanguage.img}}" alt="{{nav.currentLanguage.name}}">-->
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="item in nav.languages">
              <a href="#" ng-click="nav.switchLang(item.code)"><img src="{{::item.img}}" alt="{{::item.name}}"><span class="langName">{{::item.name}}</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>