@import "../../theme/assets/sass/modules/mixins";
@import "../../theme/assets/sass/modules/breakpoints";




.navbar-brand.navbar-brand-component {
  color: white;
  padding: 14px 15px;

  &:hover, &:visited {
    color: white;
  }

  > span {
    padding-right: 8px;
  }
}

.navbar {
  .dropdown-menu{
    min-width: 60px;
  }

  .user-avatar {
    display: flex;
    -webkit-box-align: center;
    margin: 0 10px;

     .user-avatar-container {
      margin-right: 10px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;

      box-sizing: border-box;
      display: inline-block;
      vertical-align: text-bottom;
     }

    .user-profile-info {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 420px;

      .user-profile-name {
        font-weight: 700;
      }
      .user-profile-email {
        font-size: 13px;
      }
    }
    a {
      color: $header-text-color;
    }
  }

  .user-dropdown {
    cursor: pointer;
  }
  .delimeter {
      border-bottom: 1px dotted $header-text-color;
      margin: 0 15px 0 15px;

    @include min-screen($break-medium) {
      border-bottom: none;
      border-right: 1px dotted $header-text-color;
      height: 16px;
      margin: 18px 0 0 0;
    }
  }

  .langName{
    padding: 0 6px;
  }

  .form-control{
    height: 30px;
    margin-top: 2px;
  }

  .angucomplete-dropdown {
    margin-top: -3px;
  }

  .search-component .angucomplete-dropdown {
    @include border-radius();
  }
}