<div class="modal-header">
  <h2 class="modal-title"
    translate="game-profile.REQUEST_OWNERSHIP"></h2>
</div>

<div class="modal-body lead">
  <div translate="game-profile.CREATE_MODAL_MESSAGE"></div>
  <div angucomplete-alt
    id="create-gp-modal-autocomplete"
    placeholder="{{'autocomplete.SELECT_PROFILE' | translate}}"
    pause="100"
    selected-object="$ctrl.profile"
    remote-api-handler="$ctrl.remoteApi"
    title-field="name"
    text-no-results="{{$ctrl.noResults()}}"
    text-searching="{{$ctrl.searching()}}"
    minlength="1"
    input-class="form-control"
    match-class="highlight"
    field-required="true"
    input-name="profile">
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
    type="button"
    ng-click="$ctrl.requestOwnership()"
    translate="game-profile.TAKE_OWNERSHIP">
  </button>

  <button class="btn btn-warning"
    type="button"
    ng-click="$ctrl.cancel()"
    translate="common.CANCEL">
  </button>
</div>
