<div class="page-content">
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="community in $ctrl.communities">
        <a ui-sref="game.community.main({gameId: $ctrl.gameId, communityId: community.id})">
          {{::community.title}}</a>
      </li>
    </ul>
  </div>
</div>