#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.avatar {
  height: 22px;
  // border: 1px solid $avatar-border-color;
  // background-color: $avatar-bg-color;
  // @include border-radius(100px);

  &.xs{
    height: 22px;
  }
  &.sm{
    height: 42px;
  }
  &.md{
    height: 52px;
  } 
  &.lg{
    height: 90px;
    // border-width: 4px;
    // @include border-radius(10px);
  }
}

.gamelogo {
  height: 22px;
  background-color: $gamelogo-bg-color;

  &.xs{
    height: 22px;
  }
  &.sm{
    height: 42px;
  }
  &.md{
    height: 52px;
  } 
  &.lg{
    height: 70px;
  }
}

.karmabox {
  margin-top: 20px;
  border: 1px solid $karma-border-color;
  background-color: $karma-bg-color;
  text-align: center;
  text-transform: uppercase;
  font-size:x-small;

  .karma-name {
    margin: 0;
  }
  .karma-value{
    margin: 0;
    font-weight: 800;
    font-size:medium;
    color: $karma-value-color;
    background-color: $karma-value-bg-color;
  }
}
