@mixin flexAlignItems
{
  align-items: center;
  display: flex;
}

.panel {
  .panel-body {
    // min-height: 965px;

    .row-control {
      @include flexAlignItems;
      border-bottom: 1px solid #eaeaea;
      height: 50px;
      margin-top: -15px;
      min-width: 300px;

      .control-search {
        @include flexAlignItems;
        height: 80%;
        padding-right: 10px;

        label {
          min-width: 70px;
        }
      }

      .control-ordering {
        @include flexAlignItems;
        height: 80%;

        a {
          border-left: 1px solid #eaeaea;
          padding: 0 10px 0 10px;
        }
      }
    }
    .row-content {
      $avatarSize: 90px;

      display: flex;
      padding-bottom: 10px;

      .avatar {
        @include flexAlignItems;
        justify-content: center;
        height: $avatarSize;
        width: $avatarSize;

        .img-circle {
          width: 100%;
          height: auto;
        }
      }

      .item {
        @include flexAlignItems;
        justify-content: space-around;
        padding: 10px 0 10px 0;
        width: calc(100% - #{$avatarSize});

        div {
          width: 30%;
        }
      }
    }
  }
}
