<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title section-heading no-margin"
      translate="entity-show.TOP_USERS"></h2>
  </div>

  <div class="panel-body">
    <div class="row-control">
      <div class="control-search">
        <label for="cs-input"
          translate="entity-show.SEARCH">
        </label>
        <input ng-model="$ctrl.searchQuery"
          id="cs-input"
          ng-change="$ctrl.search()"
          type="text"
          class="form-control"
          placeholder="{{'entity-show.NICKNAME' | translate}}">
      </div>
      <div class="control-ordering">
        <a href="#"
          ng-repeat="item in $ctrl.order.fields"
          ng-click="$ctrl.changeOrder(item)">
            {{item}}
        </a>
      </div>
    </div>

    <div class="row-content"
      ng-repeat="entity in $ctrl.data">
      <div class="avatar">
        <img src="{{$ctrl.getAvatar(entity)}}"
          class="img-circle">
      </div>
      <div class="item">
        <div>
          <a href="#">
          {{entity[$ctrl.params.attributes[1]]}}
          </a>
        </div>
        <div>
          {{entity[$ctrl.params.attributes[2]]}}
        </div>
      </div>
    </div>
  </div>
</div>
