@import "../modules/mixins";

// standard bootstrap colors
$bs-color-default: #FFF;
$bs-color-default-hover: #E6E6E6;
$bs-color-primary: #337AB7;
$bs-color-success: #5CB85C;
$bs-color-info: #5BC0DE;
$bs-color-warning: #F0AD4E;
$bs-color-danger: #D9534F;

// gt defined
$gt-red: #CD5C5C;
$gt-green: green;
$gt-brown: #49494b;
$gt-white: #f2f2f2;
$gt-yellow: lightgoldenrodyellow;
$gt-transparent: transparent;

// theme colors
$main-color: $gt-red;
$secondary-color: darken($main-color, 8%);

$heading-text-color: #656565;
$body-text-color: #7b7b7b;

$accent-color: #406da4;
$link-color: $accent-color;
$link-hover-color: darken($link-color, 8%);

// header-footer
$dark-header-color: $gt-brown;
$light-footer-color: $gt-white;
$header-text-color: $gt-white;
$footer-bg-color: $dark-header-color;
$copyright-bg-color: darken($footer-bg-color, 8%);

//// controls
// sentiments
$positive-bg-color: $gt-green;
$negative-bg-color: $main-color;
$sentiment-color: $bs-color-default;
$sentiment-border-color: $gt-white;

//avatar
$avatar-bg-color: $gt-white;
$avatar-border-color: darken($gt-white, 8%);

$gamelogo-bg-color: $gt-transparent;

//karma
$karma-bg-color: $gt-white;
$karma-border-color: darken($gt-white, 8%);
$karma-value-bg-color: lighten($gt-white, 8%);
$karma-value-color: darken($main-color, 8%);

// sn colors
$facebook-color: #3b59ab;
$twitter-color: #2b97f0;
$googleplus-color: #dd4b39;
$rss-color: #ff6600;
$vk-color: #5B7FA6;