// Define fonts used by Google Webfonts
$fonts: (
  'primary': (
    'family-name': 'Roboto Condensed',
    'generic-family': 'sans-serif',
    'variants': (
      'regular': 400,
      'medium': 500,
      'semibold': 600,
      'bold': 700
    )
  ),
  'secondary': (
    'family-name': 'Open Sans',
    'generic-family': 'sans-serif',
    'variants': (
      'regular': 400,
      'bold': 700
    )
  )
) !default;

// Font mixin
// Generate correct font-family, font-weight from given arguments
// Loop through the $fonts list to define the correct values
//
// @example scss - Usage
//   .element {
//     @include font(primary, bold);
//   }
//
// @example css - Output
//   .element {
//     font-family: 'Khand', sans-serif;
//     font-weight: 700;
//   }
//
// @access public
// @param {String} $name          Font name, default primary
// @param {Mixed}  $font-weight   Font weight, can be a number or string (regular, bold, etc.)
@mixin font($name: 'primary', $font-weight: 400) {
  $font-set: map-get($fonts, $name);
  $wf-name: false;

  @if $font-set {
    $font-name: map-get($font-set, 'family-name');
    $font-family: $font-name, map-get($font-set, 'generic-family');
    $wf-name: str-replace(to-lower-case($font-name), ' ', '-');

    $weight-type: type-of($font-weight);

    @if $weight-type == 'string' {
      $variants: map-get($font-set, 'variants');
      $font-weight: map-get($variants, $font-weight);
    } @else if $weight-type != 'number' {
      @error "Invalid value type for weight #{$font-weight} is not supported";
    }

    font-family: $font-family;
    font-weight: $font-weight;

    // Prevent font flickering
    // See http://help.typekit.com/customer/portal/articles/6852
    // https://github.com/typekit/fvd
    // https://github.com/typekit/webfontloader
    @if $wf-name != false {
      /* visibility: hidden; */

      .wf-inactive &,
      .wf-#{$wf-name}-n#{str-slice("" + $font-weight, 0, 1)}-active &,
      .wf-#{$wf-name}-n#{str-slice("" + $font-weight, 0, 1)}-inactive & {
        visibility: visible;
      }
    }
  } @else {
    @error "Font #{$name} was not found";
  }
}

@function unicode_transform($value){
  @return unquote("\"") + $value + unquote("\"");
}
