<div class="user-info">
  <div class="user">
    <div>
      Name: <span ng-bind="$ctrl.user.name"></span>
    </div>
    <div>
      Role: <span ng-bind="$ctrl.user.role"></span>
    </div>
    <div>
      GameProfiles:
      <div class="gameProfiles">
        <div ng-repeat="gameProfile in $ctrl.gameProfiles">
          Profile {{::$index}}: <span ng-bind="gameProfile.nickname"></span>
        </div>
      </div>
    </div>
  </div>
  <like what-id="$ctrl.userId" type="user_like"></like>
</div>
