<div class="list-users">
  <ul class="list">
    <li class="item" ng-click="$ctrl.selectUser(user)" ng-repeat="user in $ctrl.users">
      <span ng-bind="user.name"></span>
      <span ng-bind="user.email"></span>
    </li>
  </ul>
</div>
