<header-content 
    pre-title="" 
    title="{{::$ctrl.game.title}}" 
    description="{{::$ctrl.description}}"
    entity="$ctrl.game"
    image="{{::$ctrl.game.logourl}}" 
    imageStyle="{{::$ctrl.imagestyle}}"
    ng-if="$ctrl.showGame()"
>
</header-content>
    <tabs game="$ctrl.game" ng-if="$ctrl.showTabs()"></tabs>
    <ui-view/>
</div>
