<h3 translate="users.PROFILES"
  ng-if="$ctrl.profiles"></h3>
<div class="user-profiles">
  <div class="user-profiles-container"
    ng-repeat="(game, profiles) in $ctrl.profiles">
    <h4>{{::game}}:</h4>
    <form role="form">
      <div ng-repeat="profile in profiles | orderBy:'profile.name' ">
        <label class="switch-input">
        <input type="radio" name="switch-radio"
          ng-checked="{{profile.isPrimary}}"
          ng-click="$ctrl.setAsPrimary(profile.id,profile.gameId)"
          ng-disabled="$ctrl.disabled">
          <i data-swon-text="{{$ctrl.primary()}}" data-swoff-text=""></i>
          <div class="profile">
          <a ui-sref="game.profile({gameId:profile.gameId,profileId: profile.id})">
            {{::profile.name}}</a>
          </div>
        </input>
      </label>
      </div>
    </form>
  </div>
</div>
