.user-profiles-container {
  padding-top: 1%;
  width: 40%;

    .switch-input {
      line-height: 1.2;

      & i {
        color: red;
        width: 70px;
      }

      & i[data-swon-text="Primary"] {
        width: 60px;
      }

      & i:before {
        content: none;
      }
    }

    @include profile(60%);
}

.user-profiles {
  padding-bottom: 2%;
}
