<header-content
  entity="$ctrl.user"
  pre-title=""
  title="{{::$ctrl.user.name}}"
  description="{{::$ctrl.description}}"
  image="{{::$ctrl.user.avatarurl || $ctrl.defaultAvatar}}" 
  imageStyle="{{::$ctrl.imagestyle}}"
  settings="$ctrl.settings"
></header-content>

<div class="page-content">
  <div class="container">
    <!--User info will be here-->
    <user-profiles
      user-id="$ctrl.user.id">
      </user-profiles>
      <comments api="$ctrl.api"
        entity="$ctrl.user">
      </comments>
  </div>
</div>
