.page-items{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;

    .user-avatar{
        display:flex;
        flex-flow: row wrap;
        align-items: flex-start;

        padding: 0 20px 0 0;

       .user-avatar-container{
           flex: 1 60%;
       }
       .user-panel {
           flex: 1 10%;
           margin-left: 5px;
       }
       .karma-container {
           flex: 0 90px;
       }
    }

    .page-title-panel{
        display:flex;
        flex-flow: row wrap;
        flex: 0 1 auto;

        .page-title-container{
            flex: 0 1 auto;
        }

        .page-subtitle-container{
            flex: 0 1 100%;
        }
    }
    .page-description-container{
        flex: 0 1 100%;
    }

    .page-actions-container{
        flex: 0 1 100%;
        display: flex;

        .page-actions-item {
            flex: 0 1 100%;
        }
    }

    .game-profile {
        flex: 0 1 100%;
    }

    .media{
        margin-top: 0;
    }

    .team-member {
	    margin-bottom: 20px;
    }
}


