<div class="page-header has-intro has-background-pattern">
  <div class="container">
    <div class="left pull-left page-items">
      <div class="user-avatar">
        <div class="user-avatar-container">
            <img src="{{hc.image}}" alt="{{hc.title}}" class="{{hc.imagestyle}} media-object img-circle ">
        </div>
        <div class="user-panel">
          <settings
            ng-if="hc.settings"
            settings="hc.settings"
          ></settings>
        </div>
        <div class="karma-container">
          <div class="karmabox" ng-if="hc.karmaExist">
            <div class="karma-name">{{'game-profile.KARMA' | translate}}</div>
            <div class="karma-value">{{hc.karma}}</div>
          </div>
        </div>
      </div>
      <div class="team-member media">
        <div class="page-title-container">
          <h3 class="media-heading team-name" title="{{hc.mainTitle}}">{{hc.title}}</h3>
          <add-gp-to-user profile = "$ctrl.profile" gamer = "hc.gamer" user = "hc.entity" ng-if = "hc.showUserProfile || hc.showGameProfile">
          </add-gp-to-user>
          <strong class="page-header-intro">{{::hc.description}}</strong>
          <hr />
        </div>
        <header-content-game-profile class="game-profile"
          gametitle="hc.game.title"
          game="hc.game"
          gamer = "hc.gamer"
          ng-if="hc.showGameProfile"
        >
        </header-content-game-profile>
      </div>
      <div class="page-actions-container">
        <div class="page-actions-item">
          <like ng-if="hc.entity" entity="hc.entity"></like>
        </div>
      </div>
    </div>
    <div class="right pull-right page-items">
      <div class="page-actions-container">
        <div class="page-actions-item" ng-if="hc.showGameProfile">
          <report entity-type="hc.gamer.entityType"
            is-positive="1"
            to-id="hc.gamer.id">
          </report>
          <report entity-type="hc.game.entityType"
            is-positive="0"
            to-id="hc.gamer.id">
          </report>
        </div>
      </div>
    </div>
  </div>
</div>
