<div class="community-list">
  <ul class="list">
    <li class="item" ng-click="$ctrl.click(community)" ng-repeat="community in $ctrl.communities">
      {{::community.name}}
    </li>
  </ul>
</div>
