<div class="page-content">
  <div class="container">
    <entity-show
      entity-type="$ctrl.entityType"
      attributes="$ctrl.attributes"
      search-field="$ctrl.searchField"
      where="$ctrl.where"
      order="$ctrl.order">
    </entity-show>
  </div>
</div>
