<section class="game-profiles">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="profile in ::$ctrl.profiles">
      <a ui-sref="game.profile({ gameId: $ctrl.game.id , profileId: profile.id})">
        {{::profile.name}}</a>
    </li>
  </ul>
</section>
