<div class="container">
  <div class="custom-tabs-line tabs-line-bottom left-aligned">
    <ul id="tab" class="nav" role="tablist">
      <li ui-sref-active="active">
        <a ui-sref=".main" role="tab">{{'tabs.MAIN' | translate}}</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref=".communities" role="tab">{{'tabs.COMMUNITIES' | translate}}</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref=".profiles" role="tab">{{'tabs.PROFILES' | translate}}</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref=".comments" role="tab">{{'tabs.COMMENTS' | translate}}</a>
      </li>
    </ul>
  </div>
</div>
