.reply-modal {
  $container-width: 90%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
  }

  &__target {
    width: $container-width;
    margin: 20px 0 50px 0;
  }

  &__text {
    width: $container-width;
    max-width: $container-width;
  }
}

.reply-modal-target {

  &__author {
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
    font-weight: 300;
    font-style: italic;

    &::before {
      content: '\2014 \00A0';
    }
  }
}
