<div class="reply-modal">
  <div class="modal-header">
    <h2 class="modal-title" translate="comments.REPLY_MODAL_HEADER"></h2>
  </div>

  <form name="$ctrl.form" ng-submit="$ctrl.reply($ctrl.text)" novalidate
        ng-class="{'has-error': $ctrl.form.$invalid && $ctrl.form.$submitted}">
    <div class="reply-modal__container">
      <blockquote class="reply-modal__target">
        <p>{{::$ctrl.targetComment}}</p>
        <p class="reply-modal-target__author">{{::$ctrl.targetAuthor}}</p>
      </blockquote>

      <textarea ng-model="$ctrl.text"
                rows="5"
                class="form-control reply-modal__text"
                required>
      </textarea>

      <div class="form-group has-error">
        <p class="help-block" ng-show="$ctrl.form.$invalid && $ctrl.form.$submitted"
           translate="errors.GENERIC_FORM_ERROR">
        </p>
        <p class="help-block" ng-show="$ctrl.error && $ctrl.form.$submitted"
           translate="errors.GENERIC_ERROR">
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary"
              type="submit"
              translate="comments.REPLY">
      </button>
      <button class="btn btn-warning"
              type="button"
              ng-click="$ctrl.close()"
              translate="common.CANCEL">
      </button>
    </div>
  </form>
</div>
