<header-content 
  pre-title="{{::game.GAMES}}"
  title="{{::$ctrl.title}}" 
  description="{{::$ctrl.description}}"
  image="{{::$ctrl.defaultLogo}}"
  imageStyle="{{::$ctrl.imagestyle}}"
>
</header-content>
<div class="page-content">
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="game in $ctrl.games">
        <a ui-sref="game.main({gameId: game.id})">
          {{::game.title}}</a>
      </li>
    </ul>
  </div>
</div>
