<form
  name="settings"
  ng-submit="stm.saveData()"
  class="settings-modal"
>
  <div class="modal-header">
    <h2 class="modal-title" translate="settings.HEADER"></h2>
  </div>

  <div class="modal-body">
    <div ng-repeat="setting in stm.settings track by $index" class="setting">
      <input
        class="form-control form-control-small"
        name="setting.name"
        type="setting.type"
        placeholder="{{setting.description | translate}}"
        ng-model="stm[setting.name].value"
        pattern="{{setting.pattern}}"
        title="{{setting.title | translate}}"
      />
      <div
        ng-if="stm[setting.name].errorMessage"
        class="save-error"
        translate="{{stm[setting.name].errorMessage}}"
      ></div>
    </div>
  </div>

  <div class="modal-footer">


    <button
      class="btn btn-primary"
      type="submit"
      translate="settings.SAVEBUTTON"
      ng-disabled="stm.isLoading"
    ></button>

    <button
      class="btn btn-warning"
      type="button"
      ng-click="stm.cancel()"
      translate="common.CANCEL"
      ng-disabled="stm.isLoading"
    ></button>
  </div>
</form>