<div class="page-content">
  <div class="container">
    <!--
    <div class="form-group">
      <report entity-type="$ctrl.community.entityType" is-positive="1" to-id="$ctrl.community.id">
      </report>
      <report entity-type="$ctrl.community.entityType" is-positive="0" to-id="$ctrl.community.id">
      </report>
    </div>
    -->
    <top-n-profiles entity="$ctrl.community" api="$ctrl.api" profiles-count="$ctrl.profilesCount"></top-n-profiles>
  </div>
</div>