<header-content
  pre-title="community.COMMUNITY" 
  title="$ctrl.community.title" 
  description="$ctrl.description" 
  entity="$ctrl.community"
  image="$ctrl.community.avatarurl || $ctrl.defaultAvatar" 
  imageStyle="$ctrl.imagestyle"
  >
</header-content>
<tabs entity="$ctrl.community"></tabs>
<ui-view></ui-view>