/* ----------------------------------------------------- */
/* GENERAL STYLES
/* ----------------------------------------------------- */

body {
	font-family: $base-font-family;
	font-size: 13px;
	color: $body-text-color;
	line-height: 1.6;

	&.layout-boxed {
		background-image: image-url("../../../../assets/images/gray_jean.png");
		background-repeat: repeat;
		background-color: #ccc;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 5px;
	font-family: $heading-font-family;
	color: $heading-text-color;
}

section {
	margin-bottom: 60px;
}

a {
	color: $accent-color;

	&:hover, &:focus {
		color: $link-hover-color;
		text-decoration: none;
	}
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
	outline: 0 !important;
}

hr {
	border-color: #eaeaea;
}

/* wrapper */
.wrapper {
	background: #fff;
}

.full-width-section {
	padding: 100px 0;
	background-color: $accent-color;
}

.layout-boxed .wrapper {
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 5px #ccc;
}

.widget-title {
	font-size: 18px;
}

.section-heading {
	margin-bottom: 20px;
	font-size: 22px;

	&:after {
		display: block;
		content: '......';
		color: $accent-color;
		font-weight: 300;
	}

	&.panel-title:after {
		display: none;
	}
}

/* social background color */
.facebook-bg {
	background-color: $facebook-color;
}

.vk-bg {
  background-color: $vk-color;
}

.twitter-bg {
	background-color: $twitter-color;
}

.googleplus-bg {
	background-color: $googleplus-color;
}

.rss-bg {
	background-color: $rss-color;
}

/* page header */
.page-header {
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px solid #eaeaea;

	.container {
		position: relative;
	}

	.breadcrumb {
		position: absolute;
		top: 50%;
		right: 15px;
		margin-top: -18px;
	}

	.page-title {
		margin: 20px 0;
		font-size: 24px;
	}

	@include max-screen($break-small) {
		.breadcrumb,
		.page-title {
			float: none !important;
			text-align: center;
		}

		.breadcrumb {
			position: inherit;
			top: inherit;
			right: inherit;
		}
	}

	&.one-column {
		padding: 20px 0;

		.breadcrumb {
			position: relative;
			padding: 15px 0 0 0;
			right: 0;
		}
	}

	&.has-intro {
		padding: 40px 0;

		.left {
			width: 50%;
		}

		.page-title {
			margin: 0 0 5px 0;
		}
	}

	&.has-background-image {
		padding: 40px 0;
		background: {
			image: image-url('page-header-bg.png');
			repeat: no-repeat;
			position: center;
		}
	}

	&.has-background-pattern {
		padding: 40px 0;
    background-image: url('../../../../assets/images/pattern-geometry.png');
    background-repeat: repeat;
	}

	@include max-screen($break-small) {
		&.has-intro {
			text-align: center;

			.left {
				width: 100%;
				margin-bottom: 15px;
			}

			.breadcrumb {
				margin-bottom: 0;
			}
		}
	}
}

.page-content {
	margin: 40px 0;
}

// animation delays
.animation-delay-1 {
	@include animation-delay(.1s !important);
}

.animation-delay-2 {
	@include animation-delay(.2s !important);
}

.animation-delay-3 {
	@include animation-delay(.3s !important);
}

.animation-delay-4 {
	@include animation-delay(.4s !important);
}

.animation-delay-5 {
	@include animation-delay(.5s !important);
}

.animation-delay-6 {
	@include animation-delay(.6s !important);
}

.animation-delay-7 {
	@include animation-delay(.7s !important);
}

.animation-delay-8 {
	@include animation-delay(.8s !important);
}

.animation-delay-9 {
	@include animation-delay(.9s !important);
}

.animation-delay-10 {
	@include animation-delay(1s !important);
}

.animation-delay-11 {
	@include animation-delay(1.1s !important);
}

.animation-delay-12 {
	@include animation-delay(1.2s !important);
}

.animation-delay-13 {
	@include animation-delay(1.3s !important);
}

.animation-delay-14 {
	@include animation-delay(1.4s !important);
}

.animation-delay-15 {
	@include animation-delay(1.5s !important);
}

/* footer */
footer {
	background-color: $footer-bg-color;
	font-weight: 300;
	color: #eaeaea;

	a {
		color: #fff;

		&:hover, &:focus {
			color: #fff;
			text-decoration: underline;
		}
	}

	.container {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.logo {
		width: 100px;
		margin-bottom: 15px;
	}

	.social-icons.light-icons a {
		background-color: darken($footer-bg-color, 5%);

		&:hover {
			background-color: darken($footer-bg-color, 8%) !important;
		}
	}

	@include max-screen($break-small) {
		.container {
			padding: 30px 15px;
		}
	}
}

.footer-heading {
	margin: 10px 0 8px 0;
	font-size: 16px;
	line-height: 2;
	color: #fff;
}

.footer-nav > li {
	margin-bottom: 10px;
}

.copyright {
	padding: 15px 0;
	background-color: $copyright-bg-color;
	font-size: 12px;
}

.footer-minimal {
	.copyright {
		border: none !important;
		font-size: 11px;
		padding-bottom: 0;
		background-color: transparent;
	}
}

/* light footer theme */
$light-footer-font-color: lighten($body-text-color, 8%);

.footer-light {
	background-color: $light-footer-color;
	font-weight: normal;
	color: $light-footer-font-color;
	border-top: 1px solid darken($light-footer-color, 8%);

	a {
		color: $light-footer-font-color;

		&:hover, &:focus {
			color: $light-footer-font-color;
			text-decoration: underline;
		}
	}

	.footer-heading {
		color: $light-footer-font-color;
	}

	.newsletter-form .input-group-lg > .form-control {
		background: lighten($light-footer-color, 2%);
	}

	.copyright {
		background-color: $light-footer-color;
		border-top: 1px solid darken($light-footer-color, 8%);
	}

	.social-icons.dark-icons a {
		background-color: #858D90;

		&:hover {
			background-color: darken(#858D90, 5%) !important;
			color: #fff !important;
		}
	}
}

.footer-gradient {
	background: linear-gradient(#6d6d6d, #1d1d1d);

	background-color: $footer-bg-color;

	.copyright {
		background-color: transparent;
	}
}


