/* ----------------------------------------------------- */
/* PORTFOLIO
/* Portfolio carousel, portfolio list, single portfolio
/* ----------------------------------------------------- */

/* general portfolio item with hovered caption */
.portfolio-item {
	position: relative;

	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba($accent-color, 0.9);
	}

	.info {
		position: absolute;
		top: 50%;
		margin-top: -49px;
		width: 100%;
		text-align: center;
		color: #fff;
	}

	.media-wrapper {
		overflow: hidden;
	}

	.title {
		font-family: inherit;
		color: #fff;
	}

	.brief-description {
		font-weight: 300;
	}

	.overlay, .info {
		@include transition(all 200ms ease-out);
		@include opacity(0);
	}

	img {
		@include transition(all 0.2s linear);

		max-width: 100%;
	}

	&:hover {
		img {
      transform: scale(1.3)
		}

		.overlay, .info {
			@include opacity(1);
			z-index: 1;
		}
	}

	a, a:hover, a:focus {
		color: #fff;
	}

	.btn {
		background-color: lighten($accent-color, 3%);
		border: 1px solid darken($accent-color, 5%);

		&:hover, &:focus {
			color: #fff;
			background-color: $accent-color;
		}
	}
}

.portfolio-nospace .portfolio-item {
	margin-bottom: 0;
}

.portfolio-static {
	margin: 0 10px;

	.portfolio-item {
		margin-left: -10px;
		margin-right: -10px;
	}
}

/* portfolio with slick carousel */
.slick-carousel .portfolio-item {
	width: 500px;
}

/* portfolio list with isotope filter */
.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/* Isotope CSS3 transitions */
.isotope {
	transition-property: (height, width);
}

.isotope {
	transition-duration: 0.4s;

	.isotope-item {
		@extend .isotope;
		transition-property: (transform, opacity);
	}

}

/* disabling Isotope CSS3 transitions */
.isotope {
	&.no-transition,
	&.no-transition .isotope-item,
	.isotope-item.no-transition {
		transition-duration: 0s;
	}
}

/* portfolio isotope filters */
.portfolio-item-filters {
	text-align: center;
	margin-bottom: 30px;

	li {
		padding: 0;
		margin-left: -2px;
		margin-right: -2px;

		&:first-child {
			margin-left: 0;
		}

		a {
			@include transition(all 0.3s ease-in-out);
			@include border-radius(2px);

			display: block;
			padding: 7px 14px;
			color: inherit;

			&:hover, &:focus {
				text-decoration: none;
				outline: none;
				color: $accent-color;
			}

			&.active {
				background-color: $accent-color;
				color: #fff;
			}
		}
	}
}

/* portfolio items */
.portfolio-item-wrapper {
	@include transition(height 0.3s ease-in-out);

	position: relative;
	overflow: hidden;
	margin: 0 auto;
	height: auto;
	margin-bottom: 30px;
}

.portfolio-item-list {
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		padding: 0;
		overflow: hidden;

		img {
			max-width: 100%;
			width: 100%;
		}
	}

	&.spaced {
		width: auto;

		li {
			padding: 0 5px;
		}
	}

	&.list-col-4 li {
		width: 25%;
	}

	&.list-col-3 li {
		width: 33.333333%;
	}

	&.list-col-2 li {
		width: 50%;
	}

	@include max-screen(548px) {
		&.list-col-2 li, &.list-col-3 li,
		&.list-col-4 li {
			width: 100%;
		}
	}

	@include screen(548px, 1024px) {
		&.list-col-2 li, &.list-col-3 li,
		&.list-col-4 li {
			width: 50%;
		}
	}
}

/* single portfolio item */
.portfolio-media {
	img {
		width: 100%;
		max-width: 100%;
	}

	.slick-dots {
		position: absolute;
		margin-bottom: 25px;

		li {
			@include opacity(0.5);

			margin: 0 3px;

			button {
				width: 10px;
				height: 10px;
				background-color: #fff;
			}

			&.slick-active {
				@include opacity(1);

				button {
					width: 12px;
					height: 12px;
					background-color: #fff;
				}
			}
		}
	}

	.slick-next, .slick-prev {
		background-color: rgba(210, 210, 210, 0.19);
		top: 18px;

		&:hover {
			background-color: rgba(210, 210, 210, 0.6);
		}
	}

	.slick-next {
		right: 7px;
	}

	.slick-prev {
		right: 40px;
	}
}

.project-detail-list {
	margin-bottom: 25px;

	> li {
		margin-bottom: 15px;
	}

	strong {
		@include inline-block;

		min-width: 80px;
	}
}

.portfolio-related {
	margin-top: 50px;
}

