/* ----------------------------------------------------- */
/* UI ELEMENTS
/* All styles related with custom UI elements, overrides
/* plugin styles
/* ----------------------------------------------------- */

.btn-toggle,
.btn-toggle.focus {
	background-color: #eaeaea;
	color: #a8a8a8;
	border-color: #d7d7d7;

	&.active {
		background-color: #F0AD4E;
		border-color: #EEA236;
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}

.btn-toggle{
	&:hover {
		color: #808080;
	}
}

.form-horizontal.label-left .control-label {
	text-align: left;
}

/* slick plugin */
.slick-carousel {
	position: relative;
}

.slick-slide {
	outline: none;
	height: auto;
}

.slick-next,
.slick-prev {
	position: absolute;
	right: 0;
	top: -47px;
	left: inherit;
	width: 30px;
	height: 30px;
	background-color: $accent-color;
	color: #fff;

	&:hover, &:focus {
		background-color: darken($accent-color, 5%);
	}
}

.slick-prev {
	right: 31px;
	z-index: 9;

	&:before {
		content: '\f104';
	}
}

.slick-next:before {
	content: '\f105';
}

.slick-dots {
	position: relative;
	bottom: 0;
	margin-top: 15px;

	li {
		width: 12px;
		height: 12px;

		button {
			@include border-radius(50%);

			width: 12px;
			height: 12px;
			background-color: #e8e8e8;

			&:before {
				font-family: initial;
				font-size: 0;
			}
		}

		&.slick-active button {
			background-color: darken(#e8e8e8, 15%);
		}
	}
}

/* boxed content */
.boxed-content {
	text-align: center;
	margin-bottom: 35px;

	> i {
		font-size: 8em;
		color: $accent-color;
	}

	.boxed-content-title {
		font-size: 22px;
		font-weight: 700;
	}

	&.left-aligned {
		text-align: left;

		.boxed-content-title {
			margin-bottom: 10px;
			line-height: 28px;
			font-weight: normal;
		}

		i {
			float: left;
			margin-right: 10px;
			font-size: 2em;
		}
	}

	&.left-boxed-icon {
		i {
			@include border-radius(2px);

			padding: 10px;
			width: 60px;
			height: 60px;
			background: $accent-color;
			color: #fff;
			text-align: center;
			line-height: 40px;
		}

		.boxed-content-title,
		p {
			padding-left: 80px;
		}
	}
}

/* testimonial */
.testimonial-body {
	position: relative;
	margin: 0 auto;

	p {
		font-size: 1.5em;
		font-style: italic;
		font-weight: 300;
		color: #717171;
	}

	&.smaller-font p {
		font-size: 14px;
	}
}

.testimonial-author {
	padding-top: 20px;

	img {
		@include border-radius(50%);

		width: 50px;
		height: 50px;
		margin-right: 12px;
	}

	.author-name {
		font-weight: 700;
	}

	em {
		display: block;
	}
}

.testimonial-fancy {
	i {
		position: absolute;
		top: -12px;
		font-size: 3em;
		color: $accent-color;
		z-index: 1;
	}

	.testimonial-body {
		width: 80%;
	}

	.testimonial-author {
		padding-left: 60px;
	}

	@include max-screen($break-small) {
		.testimonial-body {
			width: 100%;
		}
	}
}

.testimonial.slick-carousel {
	.slick-prev, .slick-next {
		top: auto;
		bottom: 0;
		background-color: #eaeaea;

		&:before {
			color: $body-text-color;
		}

		&:hover {
			background-color: darken(#eaeaea, 5%);
		}
	}

	.testimonial-body {
		padding: 0 1px; /* fix truncated testimonial body by slick */
	}
}

.testimonial-bubble {
	@include border-radius(5px);

	position: relative;
	padding: 15px 15px 15px 54px;
	margin: 10px;
	background: #ebebeb;

	&:after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 50px;
		border-width: 20px 0 0 20px;
		border-style: solid;
		border-color: #ebebeb transparent;
	}

	@include max-screen($break-xsmall) {
		padding: 15px 20px;
	}
}

.testimonial-with-bg {
	padding: 120px 0;
	background-image: url('../../assets/images/sliders/slider1-h500.png');
	background-attachment: fixed;
	background-position: center center;
	color: #fff;

	.testimonial-body p {
		color: #fff;
		font-style: normal;
		font-size: 1.8em;
	}

	.testimonial {
		margin-bottom: 0;

		&.slick-carousel {
			.slick-next, .slick-prev {
				background-color: transparent;

				&:before {
					color: #fff;
				}

				&:hover {
					background-color: rgba(255, 255, 255, 0.08);
				}
			}
		}
	}
}

.mobile .testimonial-with-bg {
	background-attachment: inherit;
	background-position: center -35em;
}

@include max-screen($break-xsmall) {
	.testimonial-with-bg .testimonial-body p {
		font-size: 1.3em;
	}
}

/* client logo list */
.list-client-logo {
	text-align: justify;
	margin-bottom: 0;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}

	&:before {
		content: '';
		display: block;
	}

	@include max-screen($break-small) {
		img {
			width: 85px;
		}
	}

}

/* call to action */
.call-to-action {
	background-color: #ebebeb;
	padding: 25px 0;
	margin-bottom: 0;

	.section-heading {
		margin: 0;
		font-size: 36px;
		line-height: 45px;

		&:after {
			display: none;
		}
	}

	span {
		position: relative;
		top: 2px;
		font-size: 18px;
	}

	@include max-screen($break-small) {
		text-align: center;

		.pull-left, .pull-right {
			width: 100%;
			float: none !important;
		}

		.btn {
			margin-top: 10px;
		}

		span {
			top: 7px;
		}
	}
}

/* social connect icons */
ul.social-icons {
	li {
		a {
			@include border-radius(3px);

			display: block;
			width: 50px;
			height: 50px;
			font-size: 24px;
			color: #fff;
			text-align: center;

			&.facebook-bg {
				&:hover, &:focus {
					background-color: darken($facebook-color, 5%);
				}
			}

			&.twitter-bg {
				&:hover, &:focus {
					background-color: darken($twitter-color, 5%);
				}
			}

			&.googleplus-bg {
				&:hover, &:focus {
					background-color: darken($googleplus-color, 5%);
				}
			}

			&.rss-bg {
				&:hover, &:focus {
					background-color: darken($rss-color, 5%);
				}
			}

			i {
				position: relative;
				top: 8px;
			}
		}
	}
}

/* newsletter form */
.newsletter-form {
	margin-top: 20px;

	.form-control {
		font-size: 14px;
	}

	.input-group-lg {
		> .form-control,
		> .input-group-btn > .btn {
			@include border-radius(3px);

			border: none;
		}

		> .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

			background: darken($footer-bg-color, 3%);
			outline: none;

			&:focus {
				@include box-shadow(none);
			}
		}

		> .input-group-btn > .btn {
			border-top-left-radius: 0;
      border-bottom-left-radius: 0;

			background-color: $accent-color;
			font-size: 14px;
			padding: 10px;
			min-width: 93px;

			&:hover, &:focus {
				background-color: darken($accent-color, 5%);
			}

			i {
				display: none;
			}

			&.loading {
				i {
					display: inline;
				}

				span {
					display: none;
				}
			}
		}

		.input-group-btn:last-child > .btn {
			margin-left: 0;
		}
	}

	.alert {
		@include transition(all .3s ease-out);
		@include opacity(0);

		padding: 5px;
		border: none;
		font-size: 12px;
		background: transparent;
		color: #fff;
		font-weight: 600;

		&.active {
			@include opacity(1);
		}

		&.alert-danger {
			color: #DF6967;
		}

		&.alert-success {
			color: #69C76A;
		}

		a {
			color: #fff;
			text-decoration: underline;

			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}

.widget {
	margin-bottom: 40px;
}

/* sharing tools */
.sharing-tools > li {
	padding-left: 3px;
	padding-right: 3px;

	> a {
		@include border-radius(2px);

		display: block;
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		color: #fff;
		text-align: center;
	}
}

/* bootstrap multiselect */
.input-group.input-group-lg > .input-group-btn > .multiselect + .btn-group > .btn {
	height: 46px;
}

.multiselect-container > li > a > label {
	&.radio, &.checkbox {
		line-height: 24px;
	}
}

/* sidebar navigation */
ul.sidebar-nav {
	padding-left: 0;

	li {
		padding: 0;

		a {
			display: block;
			padding: 10px 15px;
			color: $body-text-color;

			&:hover {
				color: $accent-color;
			}
		}

		&.current a {
			color: $accent-color;
			font-weight: 700;
		}
	}

	.list-group-item.active,
	.list-group-item.active:hover,
	.list-group-item.active:focus {
		background-color: #fff;
		border-color: #ddd;
	}

	li.has-submenu {
		&:after {
			@include inline-block;

			position: absolute;
			right: 10px;
			top: 11px;
			font-family: "FontAwesome";
			content: '\f105';
			color: $body-text-color;
		}

		&.active {
			background-color: #fff;
			border-color: #ddd;

			&:after {
				content: '\f107';
			}

			> a,
			li.active > a {
				color: $accent-color;
				font-weight: 700;
			}
		}
	}

	ul.submenu {
		padding-left: 10px;

		li:first-child a {
			padding-top: 0;
		}
	}
}

/* breadcrumb */
.breadcrumb {
	background-color: transparent;

	> li {
		&.active {
			color: $accent-color;
		}
	}

	a {
		color: $body-text-color;

		&:hover, &:focus {
			text-decoration: none;
			color: $accent-color;
		}
	}

	&.link-accent {
		> li.active {
			color: inherit;
		}

		a {
			color: $accent-color;

			&:hover, &:focus {
				text-decoration: none;
				color: $link-hover-color;
			}
		}
	}

	&.separator-arrow > li + li:before {
		padding: 0 8px;
		font-family: "FontAwesome";
		content: '\f105';
	}
}

/* google maps */
.google-map > div {
	height: 350px;
}

/* fancy checkbox and radio button */
.fancy-checkbox {
	display: block;

	input[type="checkbox"] {
		display: none;

		+ span {
			@include inline-block;

			cursor: pointer;
			position: relative;
			font-size: 13px;
			margin-right: 10px;

			&:before {
				@include inline-block;

				position: relative;
        vertical-align: middle;
				bottom: 1px;
				width: 18px;
				height: 18px;
				margin-right: 8px;
				content: "";
				border: 1px solid #ccc;
			}
		}

		&:checked + span:before {
			font-family: FontAwesome;
			content: '\f00c';
			font-size: 11px;
			color: #fff;
			text-align: center;
			line-height: 16px;
			background: $accent-color;
			border: 1px solid $accent-color;
		}
	}
}

.fancy-radio {
	display: block;

	input[type="radio"] {
		display: none;

		+ span {
			display: block;
			cursor: pointer;
			position: relative;
			margin-right: 15px;
			font-size: 13px;

			> i {
				@include inline-block;
				@include border-radius(8px);

				position: relative;
				bottom: 1px;
				content: "";
				border: 1px solid #ccc;
				width: 18px;
				height: 18px;
				margin-right: 8px;
			}
		}

		&:checked + span > i:after {
			@include border-radius(50%);

			display: block;
			position: relative;
			top: 3px;
			left: 3px;
			content: '';
			width: 10px;
			height: 10px;
			background-color: $accent-color;
		}
	}
}

/* switch checkbox and radio */
.switch-input {
	display: block;
	position: relative;
	line-height: 1;
	margin-bottom: 4px;
	padding: 10px 60px 0 0;
	cursor: pointer;

	input {
		position: absolute;
		left: -9999px;

		&:checked + i {
			border-color: $accent-color;

			&:before {
				right: 33px;
			}

			&:after {
				content: attr(data-swon-text);
				text-align: right;
				color: #777;
			}
		}
	}

	i {
		@include border-radius(20px);

		content: '';
		display: block;
		position: absolute;
		top: 6px;
		right: 0;
		width: 50px;
		height: 20px;
		border-width: 1px;
		border-style: solid;
		border-color: #ccc;
		background: #fff;
		font-style: normal;

		&:before {
			@include border-radius(50%);
			transition-property: right;
			transition-duration: 0.1s;
			transition-timing-function: ease-in;

			content: '';
			display: block;
			position: absolute;
			top: 4px;
			right: 4px;
			width: 10px;
			height: 10px;
			background-color: $accent-color;
		}

		&:after {
			content: attr(data-swoff-text);
			position: absolute;
			top: 2px;
			right: 8px;
			left: 8px;
			font-weight: 700;
			font-size: 10px;
			line-height: 15px;
			color: lighten(#777, 20%);
		}
	}
}

/* date picker */
.datepicker {
	> div {
		padding: 5px 20px;
	}

	th, td {
		@include border-radius(2px);
	}

	td.active {
		&:active, &.active {
			background-image: none;
			background-color: $accent-color;
			border-color: darken($accent-color, 10%);
			color: #fff;
		}

		&:hover {
			@include border-radius(0);

			&:active, &.active {
				background-image: none;
				background-color: $accent-color;
				border-color: darken($accent-color, 10%);
			}
		}
	}

	th.next,
	th.prev {
		font-size: 14px;
	}

	.switch {
		text-align: center;
	}

	table tr td.active {
		&:hover, &:hover:hover, &.disabled:hover, &.disabled:hover:hover, &:active, &:hover:active,
		&.disabled:active, &.disabled:hover:active, &.active, &:hover.active, &.disabled.active,
		&.disabled:hover.active, &.disabled, &:hover.disabled, &.disabled.disabled, &.disabled:hover.disabled,
		[disabled], &:hover[disabled], &.disabled[disabled], &.disabled:hover[disabled] {
			background-color: $accent-color;
			border-color: darken($accent-color, 10%);
		}
	}
}

/* date range picker */
.daterangepicker {
	.calendar-date {
		@include border-radius(0);
	}

	th, td,
	.ranges {
		.input-mini, li {
			@include border-radius(0);
		}
	}

	td {
		@include border-radius(0);

		&.active, &.active:hover {
			background-color: $accent-color;
			border-color: darken($accent-color, 10%);
		}

		&.in-range {
			background: lighten($accent-color, 49%);
		}
	}
}

.number-info {
	p {
		font-size: 28px;
		font-weight: 300;
		line-height: 1.3;
		margin-bottom: 0;

		span {
			font-size: 0.5em;
		}
	}

	&.horizontal {
		i {
			font-size: 30px;
			line-height: 1.2;
		}

		p {
			padding-left: 40px;
			line-height: 1;
			text-align: left;

			span {
				display: block;
				margin-top: 5px;
			}
		}

		@include max-screen($break-small) {
			margin-top: 30px;
			margin-bottom: 30px;
			text-align: center;

			i {
				float: none !important;
			}

			p {
				@include inline-block;

				padding-left: 0;
			}
		}

		@include max-screen($break-xsmall) {
			i {
				float: none !important;
				display: block;
				margin-bottom: 10px;
				margin-right: 0;
			}

			p {
				text-align: center;
			}
		}
	}

	&.vertical {
		@include inline-block;

		i {
			@include inline-block;

			width: 60px;
			margin-bottom: 5px;
			font-size: 36px;
		}

		p {
			span {
				display: block;
			}
		}

		@include max-screen($break-small) {
			margin-bottom: 30px;
		}
	}

	&.info-big {
		p {
			font-size: 4em;
		}
	}
}

.info-chart {
	text-align: center;

	.chart-title {
		display: block;
		font-size: 24px;

		@include max-screen($break-small) {
			margin-bottom: 50px;
		}
	}
}

.pie-chart {
	@include inline-block;

	position: relative;
	width: 180px;
	margin-bottom: 20px;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	.percent {
		@include inline-block;

		line-height: 180px;
		z-index: 2;
		font-size: 36px;
		font-weight: 300;

		&:after {
			margin-left: 0.1em;
		}
	}
}

/* parsley erorr list */
.parsley-errors-list {

	li {
    display: inline-block;
		color: #D9534F;
		font-size: 0.9em;
		margin-top: 3px;
	}
}

/* latest news */
.news-item {
	img {
		width: 140px;
	}

	.right {
		padding-left: 150px;
	}

	.news-title {
		margin-bottom: 5px;
		margin-top: 0;
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 16px;
	}

	p {
		font-size: 12px;
	}

	a {
		color: inherit;

		&:hover, &:focus {
			color: $accent-color;
		}
	}
}

.news-featured {
	img {
		width: 100%;
		margin-bottom: 15px;
	}

	.news-title {
		font-size: 22px;
		width: 100%;
	}

	p {
		font-size: inherit;
	}

	.news-meta {
		font-size: 11px;
		color: #777;
	}
}

.see-all-news {
	border: 1px solid #e4e4e4;
	font-size: 16px;
	text-align: center;

	a {
		display: block;
		padding: 30px 0;
	}
}

@include max-screen($break-xsmall) {
	.news-item {
		img {
			float: none !important;
			width: 100%;
			margin-bottom: 10px;
		}



		.right {
			padding-left: 0;
		}
	}
}

@include max-screen($break-small) {
	.news-item .news-title {
		width: 100%;
	}
}

@include max-screen($break-medium) {
	.news-featured {
		margin-bottom: 30px;
	}
}

@include screen($break-medium, $break-large) {
	.news-item {
		img {
			width: 110px;
		}

		.right {
			padding-left: 120px;
		}

		&.news-featured img {
			width: 100%;
		}
	}
}

/* main features */
.main-features {
	padding: 40px 0;
	margin-bottom: 60px;
	text-align: center;
	background-color: #5782b7;
	color: #94b6df;

	i {
		font-size: 5em;
		margin-bottom: 28px;
	}

	div[class^="col-"]:after {
		content: '';
		border-right: 1px dashed #6894ca;
		position: absolute;
		height: 80px;
		top: 50%;
		right: 0;
		margin-top: -40px;
	}

	div[class^="col-"]:last-child:after {
		border-right: none;
	}
}

.feature-heading {
	margin: 0;
	color: #94b6df;
	font-weight: 300;
	font-size: 18px;
}

@include max-screen($break-medium) {
	.main-features {
		div[class^="col-"] {
			margin-top: 25px;
			margin-bottom: 25px;
		}

		div[class^="col-"]:after {
			display: none;
		}
	}
}

