/* ----------------------------------------------------- */
/* BOOTSTRAP UI ELEMENTS
/* All styles that override bootstrap elements
/* ----------------------------------------------------- */

/* button */
.btn {
	@include border-radius(2px);
	@include transition(all 0.2s ease-in-out);

	&:active, &.active {
		@include box-shadow(none);
	}
}

.btn-primary {
	background-color: $accent-color;
	border-color: darken($accent-color, 3%);

	&:hover, &:focus, &.focus, &:active, &.active,
	.open > .dropdown-toggle.btn-primary {
		background-color: darken($accent-color, 3%);
		border-color: darken($accent-color, 8%);
	}
}

.btn-group.open .dropdown-toggle {
	@include box-shadow(none);
}

/* outline buttons */
.btn-outline {
	background-color: transparent !important;
	border-width: 2px;
	color: $body-text-color;

	&:hover, &:focus {
		color: inherit;
	}

	&:active, &.active {
		color: inherit !important;

		&:focus, &.focus {
			color: inherit !important;
		}
	}

	&.btn-default:hover {
		background-color: darken($bs-color-default-hover, 20%);
	}

	&.btn-primary:hover {
		background-color: $bs-color-primary;
	}

	&.btn-info:hover {
		background-color: $bs-color-info;
	}

	&.btn-success:hover {
		background-color: $bs-color-success;
	}

	&.btn-warning:hover {
		background-color: $bs-color-warning;
	}

	&.btn-danger:hover {
		background-color: $bs-color-danger;
	}

	&.btn-outline-disabled, [disabled] {
		border: 2px solid #ccc;
		color: #ccc;

		&:hover {
			color: #ccc;
		}
	}
}

/* remove button transition effect */
.btn-no-transition {
	@include transition(none);
}

/* rounded and no rounded buttons, default: rounded 2px */
.btn-rounded-2x {
	@include border-radius(5px);
}

.btn-rounded-3x {
	@include border-radius(10px);
}

.btn-rounded-4x {
	@include border-radius(17px);
}

.btn-no-rounded {
	@include border-radius(0);
}

/* input groups */
.input-group-lg {
	> .form-control,
	> .input-group-addon,
	> .input-group-btn > .btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
	}
}

.input-group-sm {
	> .form-control,
	> .input-group-addon,
	> .input-group-btn > .btn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
	}
}

.form-control,
.input-group-addon {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
	@include box-shadow(none);
}

.input-group-addon .fa {
	min-width: 14px;
}

/* control label */
.form-horizontal {
	&.left-aligned .control-label {
		text-align: left;
	}
}

/* tabs */
.nav-tabs {
	> li > a {
		border-top-left-radius: 2px;
    border-top-right-radius: 2px;

		font-size: 14px;
	}

	@include max-screen($break-xsmall) {
		> li.active {
			> a, > a:hover, > a:focus {
				background-color: $accent-color;
				color: #fff;
			}
		}
	}
}

.nav .open {
	> a, a:hover, a:focus {
		border-color: #fff;
	}
}

.nav-pills {
	> li {
		> a {
			@include border-radius(2px);
		}

		&.active > a, &.active > a:hover, &.active > a:focus {
			background-color: $accent-color;
		}
	}
}

.nav-tabs,
.nav-pills {
	&.tabs-iconized {
		> li i {
			position: relative;
			margin-right: 3px;
			top: 3px;
			font-size: 20px;
		}
	}
}

.custom-tabs-left {
	border-bottom: none;

	> .nav-tabs {
		float: left;
		margin-right: 19px;
		border-right: 1px solid #ccc;
		border-bottom: none;

		> li {
			float: none;

			a {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;

				min-width: 74px;
				margin-right: -1px;

				&:hover, &:focus {
					background: transparent;
					border-color: transparent;
				}
			}
		}

		.active a, .active a:hover, .active a:focus {
			border: 1px solid #ccc;
			border-right-color: #fff;
			color: inherit;
			background-color: #fff;
		}
	}

	.tab-content {
		padding-top: 5px;
	}
}

.custom-tabs-line {
	text-align: center;

	ul {
		@include inline-block;

		> li {
			float: left;

			a {
				color: lighten($body-text-color, 15%);

				&:hover, &:focus {
					color: $body-text-color;
					background-color: transparent;
				}
			}
		}
	}

	&.tabs-line-top {
		border-top: 1px solid #ccc;

		ul > li {
			margin-top: -1px;
		}

		a {
			border-top: 1px solid transparent;
		}

		.active a {
			border-top-color: $accent-color;
		}
	}

	&.tabs-line-bottom {
		border-bottom: 1px solid #ccc;

		ul > li {
			margin-bottom: -1px;
		}

		a {
			border-bottom: 1px solid transparent;
		}

		.active a {
			border-bottom: 1px solid $accent-color;
		}
	}

	&.left-aligned {
		text-align: left;
	}

	&.right-aligned {
		text-align: right;
	}
}

.tab-content {
	padding: 15px 8px;
}

.tab-pane.text-center img {
	@include inline-block;
}

/* accordion, collapsible content */
.panel-group .panel {

	.panel-title > a {
		i {
			font-size: 18px;

			&.icon-collapsed {
				display: none;
			}
		}

		&.collapsed {
			.icon-expanded {
				display: none;
			}

			.icon-collapsed {
				@include inline-block;

				vertical-align: baseline;
			}
		}
	}
}

/* alerts */
.alert {
	@include border-radius(2px);
}

div[class*="col-"] > .form-group {
	margin-left: 0;
	margin-right: 0;
}

/* add contextual color for badges */
.badge-primary {
	background-color: $bs-color-primary;
}

.badge-info {
	background-color: $bs-color-info;
}

.badge-success {
	background-color: $bs-color-success;
}

.badge-warning {
	background-color: $bs-color-warning;
}

.badge-danger {
	background-color: $bs-color-danger;
}

/* pagination */
.pagination {
	> li > a,
	> li > span {
		color: $accent-color;
	}

	> li {
		@include pagination-button-color($accent-color);

		&:first-child > a,
		&:first-child > span {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
		}

		&:last-child > a,
		&:last-child > span {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
		}
	}

	> .active {
		@include pagination-button-color($accent-color);

		> a, > span {
			background-color: $accent-color;
			border-color: darken($accent-color, 5%);
		}
	}

	&.borderless {
		> li {
			> a,
			> span {
				@include border-radius(50%);

				border-color: transparent;
				margin: 0 1px;
			}

			&:first-child,
			&:last-child {
				> a,
				> span {
					@include border-radius(50%);
				}
			}

			&.active {
				> a,
				> span {
					color: #fff;
					background-color: $accent-color;

					&:hover,
					&:focus {
						color: #fff;
						background-color: $accent-color;
					}
				}
			}
		}
	}
}

.pager {
	li > a {
		&:hover, &:focus {
			background-color: $accent-color;
			border-color: darken($accent-color, 3%);
			color: #fff;
		}
	}

	.disabled > a,
	.disabled > a:hover,
	.disabled > a:focus,
	.disabled > span {
		border-color: #ddd;
	}
}


